<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Articles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/535c5bd745.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="head.html :: body"> </div>

<div class = "article_container">
    <div th:if="${isCurrentUser}" class="modify_article">
        <ul>
            <li class="little_margin thin button"><a th:href="google.com"><i class="fa-solid fa-pen icon"></i>Edit</a></li>
            <li class="little_margin thin logout_button"><a th:href="google.com"><i class="fas fa-eraser icon"></i>Delete</a></li>
        </ul>
    </div>
    <h1 th:text = "${article.head}"/>
    <div class = "head2">
        <div class = "article_id author">
            <i class="fa-regular fa-user little_margin"></i><a class="author_link" th:href="@{/user/{id}(id=${author.id})}"><span th:text = "${author.name}"/></a>
        </div>
        <div class = "article_creation">
            <i class="fa-regular fa-calendar-days little_margin"></i><span th:text="${#temporals.format(article.creationDateTime, 'dd.MM.yyyy')}"></span>
        </div>
    </div>

    <div class = "article_body"> <td th:utext = "${article.body}"/> </div>

    <br/>
    <hr class="comments_begin"/>
    <h2 class="comments_header">Comments</h2>
    <div class="comments_container">
        <div class="new_comment" sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/comment/new}" th:object="${newComment}">
                <textarea id="new_comment" placeholder="Share your opinion..." th:field="*{body}" rows ="3" cols="99"/>
                <input type="hidden" th:field="*{article}"/>
                <input type="hidden" th:field="*{author}"/>
                <input class="big_button thin" type="submit" value="Share">
            </form>
        </div>
            <tr th:if="${article.getComments().size()}!=0" th:each="comment : ${article.getComments()}">
                <div class="other_comments">
                    <div class="comment_header_inline">
                        <div class="comment_author">
                            <a class="author_link" th:href="@{/user/{id}(id=${comment.getAuthor().getId()})}"><span th:text = "${comment.getAuthor().getName()}"/></a>
                        </div>
                        <div class="comment_date">
                            <span th:utext="${#temporals.format(comment.getCreationDateTime(), 'dd.MM.yyyy HH:mm')}"/>
                        </div>
                    </div>
                    <div class="comment_body">
                        <td th:utext="${comment.getBody()}"/>
                    </div>
                </div>
            </tr>
            <div th:unless="${article.getComments().size()}!=0">
                There are no comments yet :(
            </div>
    </div>
</div>


</body>


</html>