<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/535c5bd745.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="head.html :: body"> </div>

<h1 th:text = "${article.head}"/>

<td th:text = "${author.name}"/> <td th:text = "${article.creationDateTime}"/>

<td th:text = "${article.body}"/>

</body>

<footer>
    <hr/>
    <p>developed by andrey oskin, 2023</p>
</footer>
</html>