<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/535c5bd745.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="head.html :: body"> </div>

<div class = "article_container">
    <h1 th:text = "${article.head}"/>
    <div class = "head2">
        <div class = "article_id">
            <i class="fa-regular fa-user little_margin"></i><td th:text = "${author.name}"></td>
        </div>
        <div class = "article_creation">
            <i class="fa-regular fa-calendar-days little_margin"></i><td th:text = "${{article.creationDateTime}}"></td>
        </div>
    </div>

    <div class = "article_body"> <td th:utext = "${article.body}"/> </div>
</div>
</body>


</html>