<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


</head>
<body>
    <ul>
        <li class = "first_element margin thin"><a href = "google.com"><i class=" little_margin fa-regular fa-rectangle-list fa-xl"></i>List</a></li>
        <li class = "margin"><div class = "welcome">Welcome! To our library!</div></li>
        <li class = "little_margin thin"> <a href = "google.com">Login</a> </li>
        <li class = "last_element thin"> <a href = "google.com">Register </a></li>
    </ul>
    <hr class = "head"/>
</body>
</html>