<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/535c5bd745.js" crossorigin="anonymous"></script>
    <title>Please Log In</title>
</head>
<body>
<div th:insert="~{header.html :: body}"> </div>


<form class = "login_form" th:action="@{/login}" method="post">
    <h1>Please Log In</h1>
    <div th:if="${error}" class="login_error">
        Invalid username and password! Try again. </div>
    <div th:if="${logout}" class = "logout_success">
        You have successfully log out! But can you still come back? <i>We miss you...</i></div>
    <div class = "login_elem">
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div class = "login_elem">
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input class = "login_button big_button thin" type="submit" value="Log in" />
</form>
</body>

<footer th:insert="~{footer.html :: body}"> </footer>
</html>