<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js">
    </script>
    <script src="https://kit.fontawesome.com/535c5bd745.js" crossorigin="anonymous"></script>

</head>
<body>
<div th:insert="header.html :: body"> </div>
<form id="margin_form" method="post" th:action="@{/user/new}" th:object="${user}">
    <div class="user_register_from">
        <input id="username" required type="text" th:field="*{username}" placeholder="Username"/>
        <input id = "email" required type="email" th:field="*{email}" placeholder="Email">
        <input id = "city" required type="text" th:field="*{city}" placeholder="City"/>
        </br>
        <input id = "last_name" required type="text" th:field="*{lastName}" placeholder="Last Name"/>
        <input id = "name" required type="text" th:field="*{name}" placeholder="First Name"/>
        <input id = "middle_name" required type="text" th:field="*{middleName}" placeholder="Middle Name"/>
        <br/>
        <input id = "birthDate" required type = "date" th:field="*{birthDate}" placeholder="Birth Date">
        <select id="sex" required th:field="*{sex}">
            <option value="" hidden="">Sex</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <option value="NOT_DEFINED">Not defined</option>
        </select>
        <br/>
        <input id = "password" required type="password" placeholder="Password" th:field="*{password}"/>
        <div class="user_about">
            <textarea id="about" th:field="*{about}" placeholder="Short biography" rows ="10" cols="40"/>
        </div>
    </div>
    <div class="buttons_container">
        <a id="cancel_button" class="refuse_button thin" style="margin-right: 3%; padding-inline: 4%;" th:href="@{~/articles/1}">Cancel</a>
        <input class="big_button thin" type="submit" value="Create">
    </div>
</form>
</body>

<footer th:insert="footer.html :: body"> </footer>

</html>