<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/articles/search" method="get">
    <div class="search_container">
        <input type="text" th:name="searchFor"/>
        <select th:name="searchBy">
            <option value="" hidden="">Search by...</option>
            <option value="BY_TITLE">By title</option>
            <option value="BY_AUTHOR">By author</option>
            <option value="BY_ARTICLE_BODY">By article body</option>
        </select>
        <input type="submit"/>
        </div>
    </form>

</body>
</html>