* {

    font-family: "Roboto", sans-serif;

}

ul li {
    display: inline;

}
div.welcome {
    font-style: italic;
    display: contents;
    font-size: 190%;
    text-align: center;
}

li.margin {
    margin-right: 25%;
}
i.little_margin {
    margin-right: 0.5%;
}

li.little_margin {
    margin-right: 3%;
}
li.first_element {
    margin-left: 2%;

}
li.last_element {
    padding-right: 0%;
}
hr.head{
    color: black;
    width: 100%;
}

*.black {
    color: black;
}

cap {
    display: inline;
}

h2 {
    font-size: 120%;
    font-weight: 300;
    text-align: center;
}

div.list_element {
    font-size: 200%;
    width: 100%;
    display: block ruby;
    margin-bottom: 0.5%;
}

div.page_navigation {
    color: blue;
    text-align: center;
    font-size: 150%;
}



*.elements_container {
    margin-inline-start: 20%;
    margin-top: 3%;
}

*.article_id {

   font-size: 90%;
   color: darkgray;
}

div.list_element > *.article_id {
    text-align: left;
    width: 16%;
}

*.article_head {
    margin-inline-start: 6%;
    overflow-x: clip;
    width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #92A88C;
}

*.article_head:hover {
    margin-inline-start: 6%;
    width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

*.article_creation {
    color: darkgray;
    font-size: 90%;
}

div.list_element > *.article_creation {
    text-align: right;
    width: 20%;

}

*.head2 {
    font-size: 150%;
    margin-bottom: 1%;
}

*.article_container, *.user_container {
      margin-inline: 10%;
      border-left: 2px #92A88C ridge;
      padding-left: 3%;
      margin-left: 7%;
      font-size: 120%;
        margin-bottom: 5%;
}

div.user_container > div > div {
    color: black;
    font-size: x-large;
}
div.user_body > div > span, div.user_additional > div > span {
    color: gray;
}

div.user_inline {
    display: -webkit-inline-box;
}

div.user_additional {
    margin-left: 20%;
    font-size: x-large;
    color: gray;
}

div.article_body > * {
    all: revert;
}

div.ck-editor__editable > * {
    all:revert;
}

li.button a, div.search_container > a {
    border: #92A88C;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    padding: 0.5%;
    display: inline-block;
    width: 93.2px;
    text-align: center;
}

a.big_button {
    border: #92A88C;
    color: #92A88C;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    padding: 0.5%;
    display: inline-block;
    width: 5%;
    text-align: center;
    padding-inline: 5%;
}

li.logout_button > a {
       border: darksalmon;
       color: darksalmon;
       border-style: solid;
       border-width: thin;
       text-decoration: none;
       padding: 0.5%;
       display: inline-block;
        width: 93.2px;
       text-align: center;
}

#cancel_button {
    border: darksalmon;
    color: darksalmon;
    border-style: solid;
    border-width: thin;

    text-decoration: none;
}

li.logout_button > a:hover, #cancel_button:hover {
        background: darksalmon;
        color: white;
}

div.logout_success {
    text-align: center;
    color: darkcyan;
    font-size: 120%;
    margin: 2%;
}


div.login_error {
    text-align: center;
    color: darksalmon;
    font-size: 120%;
    margin: 2%;
}


input[type=submit] {
      border: #92A88C;
      color: #92A88C;
      border-style: solid;
      border-width: thin;
      text-decoration: none;
      padding: 0.5%;
      display: inline-block;
      text-align: center;
      padding-inline: 5%;
      font-size: 110%;
      text-align: left;
      background-color: white;
}
input[type=submit]:hover {
      background-color: #92A88C;
      color: white;
      cursor: pointer;
}

*.buttons_container {
    margin-top: 2%;
    text-align: right;
    margin-right: 5%;

}

.icon {
    padding-right: 10%;
}

a {
    font-size: 110%;
}
a:link, a:visited {
  color: #92A88C;
  padding: 0.5%;
}


a:hover {
  text-decoration: none;
  background: #92A88C;
  color: white;
}

*.selected_page {
  text-decoration: none;
  background: #92A88C;
  color: white;

  padding: 0.5%;
  font-size: 110%;
}

form.login_form {
    text-align: center;
    margin-bottom: 31%;
}

div.login_elem {
    margin-bottom: 0.5%;
}

div.login_elem > input{
    font-size: 120%;
}

input.login_button{
    font-size: 120%;
    margin-top: 1%;
}

div.user_register_from {
    font-size: 120%;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 2%;
}
div.user_register_from > input {
    font-size: 120%;
    margin-right: 5%;
    margin-bottom: 1%;
}

div.user_register_from > select {
    font-size: 120%;
    margin-right: 5%;
    margin-bottom: 1%;
    background: white;
    color: rgb(128, 128, 128);
    width: 18.5%;
}

div.user_register_from > #birthDate {
    width: 17.75%;
    color: gray;
}

div.user_about > #about {
    margin-top: 2%;
    margin-bottom: 10%;
}

hr {
    align: center;
    width: 70%;
    size: 10;
    color: #D3D3D3;
}

#head {
    margin-block: 1%;
    width: 99.6%;
    font-size: 200%;
    font-weight: 700;
}
footer {
    color: white;
    font-weight: lighter;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #92A88C;
    height: 40px;
    line-height: 40px;
    font-size: xx-large;
}

*.refuse_button {
    border: thin solid #92A88C;
    text-decoration: none;
}

a.author_link {
    color: darkgray;
    text-decoration: none;
}

a.author_link > span {
    color: darkgray;
    font-size: 90%;
}

a.author_link:hover > span {
    color: #92A88C;
    text-decoration: underline;
    cursor: pointer;
    background: white;
}

a.author_link:hover, div.author:hover {
    color: #92A88C;
    text-decoration: underline;
    cursor: pointer;
    background: white;
}

div.recent_article {
    font-size: 200%;
    width: 100%;
    display: block ruby;
}

div.recent_article > div.article_creation {
    width: 15%;
    color: darkgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

div.recent_article > div.article_head {
    overflow-x: clip;
    width: 685.433px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-inline-start: 0;
}

h2.comments_header{
    text-align: left;
    font-weight: bold;
}

hr.comments_begin{
    margin-left: 0;
    color: black;
    width: 50%;
}

div.other_comments{
    border: 5px double #92A88C;
    width: 60%;
    padding: 1%;
    margin-bottom: 1%;
}

div.comment_body {
    margin-top: 2%;
}

div.comment_header_inline {
    display: inline-block;
    width: 100%;
}

a.delete_comment {
    float: inline-end;
    color: lightgray;
    padding: 0%;
}

#admin_checkbox {
    margin-right: 3px;
}


div.author_and_date {
    float: inline-start;
}


a.author_link:link, a.author_link:visited {
    padding: 0%;
}

a.author_link {
    color: darkgray;
    text-decoration: none;
}

a.author_link > span {
    color: darkgray;
    font-size: 90%;
}

a.author_link:hover > span {
    color: #92A88C;
    text-decoration: underline;
    cursor: pointer;
    background: white;
}

a.author_link:hover, div.author:hover {
    color: #92A88C;
    text-decoration: underline;
    cursor: pointer;
    background: white;
}

div.comment_date {
    color: grey;
}

div.new_comment {
    background: #dff0de;
    width: 60%;
    padding: 1.3%;
    border-radius: 20px;
    margin-bottom: 1%;
}

#new_comment {
    margin-bottom: 1%;
    resize: vertical;
}

div.modify_article {
    color: #92A88C;
    font-size: 80%;
    font-weight: initial;
}

div.modify_article > ul {
    padding: 0%;
}

#update_button{
    width: 10%;
}

#margin_form {
    margin-bottom: 5.5%;
}

div.search_container {
    text-align: center;
    margin: 1%;
}

div.search_container > input[type=text] {
    width: 20%;
    padding: 0.5%;
    font-size: 120%;
}

div.search_container > select {
    font-size: 120%;
    padding: 0.5%;
    background: white;
    color: #92A88C;
    width: 180;
}

#search_button {
    width: auto;
    margin-left: 40px;
    padding-inline: 0.5%;
}

div.search_container > a {
    font-size: 120%;
    margin-left: 3%;
}

blockquote > p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

div.no_articles {
    text-align: center;
    margin: 100px;
    font-size: x-large;
}