* {

    font-family: "Roboto", sans-serif;

}

ul li {
    display: inline;

}
div.welcome {
    font-style: italic;
    display: contents;
    font-size: 190%;
    text-align: center;
}

li.margin {
    margin-right: 25%;
}
i.little_margin {
    margin-right: 0.5%;
}

li.little_margin {
    margin-right: 3%;
}
li.first_element {
    margin-left: 2%;

}
li.last_element {
    padding-right: 0%;
}
hr.head{
    color: black;
    width: 100%;
}

cap {
    display: inline;
}

h2 {
    font-size: 120%;
    font-weight: 300;
    text-align: center;
}

div.list_element {
    font-size: 200%;
    width: 100%;
    display: block ruby;
    margin-bottom: 0.5%;
}

div.page_navigation {
    color: blue;
    text-align: center;
    font-size: 150%;
}

*.thin {
    font-weight: 500;
}

*.elements_container {
    margin-inline-start: 20%;
    margin-top: 3%;
}

*.article_id {

   font-size: 90%;
   color: darkgray;
}

div.list_element > *.article_id {
    text-align: left;
    width: 10%;
}

*.article_head {
    margin-inline-start: 6%;
    overflow-x: clip;
    width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #92A88C;
}

*.article_head:hover {
    margin-inline-start: 6%;
    width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

*.article_creation {
    color: darkgray;
    font-size: 90%;
}

div.list_element > *.article_creation {
    text-align: right;
    width: 20%;

}

*.head2 {
    font-size: 150%;
    margin-bottom: 1%;
}

*.article_container {
      margin-inline: 10%;
      border-left: 2px #92A88C ridge;
      padding-left: 3%;
      margin-left: 7%;
      font-size: 120%;
}

div.article_body > * {
    all: revert;
}

div.ck-editor__editable > * {
    all:revert;
}

li.button a {
    border: #92A88C;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    padding: 0.5%;
    display: inline-block;
    width: 5%;
    text-align: center;
}

a.big_button {
    border: #92A88C;
    color: #92A88C;
    border-style: solid;
    border-width: thin;
    text-decoration: none;
    padding: 0.5%;
    display: inline-block;
    width: 5%;
    text-align: center;
    padding-inline: 5%;
}

input[type=submit] {
      border: #92A88C;
      color: #92A88C;
      border-style: solid;
      border-width: thin;
      text-decoration: none;
      padding: 0.5%;
      display: inline-block;
      text-align: center;
      padding-inline: 5%;
      font-size: 110%;
      text-align: left;
      background-color: white;
}
input[type=submit]:hover {
      background-color: #92A88C;
      color: white;
      cursor: pointer;
}

*.buttons_container {
    margin-top: 2%;
    text-align: right;
    margin-right: 5%;

}

.icon {
    padding-right: 10%;
}

a {
    font-size: 110%;
}
a:link, a:visited {
  color: #92A88C;
  padding: 0.5%;
}
a:hover {
  text-decoration: none;
  background: #92A88C;
  color: white;
}

*.selected_page {
  text-decoration: none;
  background: #92A88C;
  color: white;

  padding: 0.5%;
  font-size: 110%;
}


hr {
    align: center;
    width: 70%;
    size: 10;
    color: #D3D3D3;
}

#head {
    margin-block: 1%;
    width: 99.6%;
    font-size: 200%;
    font-weight: 700;
}
footer {
    color: #313131;
    font-weight: lighter;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    bottom: 0;
    width:99%;
}